body
{
	background:#3498db;
}
h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: SlateBlue; 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}
#backLogin
{
	
	display:none;
	
	  background:#3498db;
	  width:125px;  padding-top:5px;
	  padding-bottom:5px;
	  color:white;
	  border-radius:4px;
	  border: #2980b9 1px solid;
	  
	  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
  
}
