<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="/style1.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/postwelcome.js"></script>

</head>
<body>
<button id="sidePanel">Change Password</button>
<div id="leftPanel">
<label>Current Password:</label>
<input type="Password" id="old"  />	<br/><br/>
<label>New Password:</label>
<input type="Password" id="New"  />	<br/><br/>
<input type="Submit" value="Submit" id="change">
</div>
<br/><br/><br/></br><br/><br/><br/>
<div id="welcomeDiv">

<input type="text" id="searchByEmail"><input type="submit" id="sEmail" value="Search By Email">
<center><div id="Res1"></div></center>
<br/>
<input type="text" id="searchByDesignation"><input type="submit" id="sDesignation" value="Search By Designation">
<center><div id="Res2"></center>
</div>
<footer>
<marquee>
<center><h1>Welcome You are logged In</h1></center></marquee>
<center><a href="/logout">LOGOUT</a></center>
</footer>
</div>
</body>
</html>