<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="/style1.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/postwelcome.js"></script>

</head>
<body>
<div id="welcomeDiv">

<input type="text" id="searchByEmail"><input type="submit" id="sEmail" value="Search By Email">
<div id="Res1"></div>
<br/>
<input type="text" id="searchByDesignation"><input type="submit" id="sDesignation" value="Search By Designation">
<div id="Res2">
</div>
<center><a href="/logout">LOGOUT</a></center>
</div>
</body>
</html>